.review{
    display: flex;
    flex-direction: column;
    border: 1px solid #F5E2C3;
    width: 416px;
    height: 252px;
    border-radius: 20px;
    padding: 20px;
    justify-content: space-between;
}

.stars{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.text{
    font-size: 16px;
    font-weight: 400;
    color: #F5E2C3;
}

.author{
    display: flex;
    justify-content: flex-start;
    gap: 25px
}

.aboutAuthor{
    display: flex;
    flex-direction: column;
}

.name{
font-size: 16px;
font-weight: 700;
color: #BE713C;
}

.position{
    font-size: 16px;
    font-weight: 400;
    color: #F5E2C3;
}