.btn {
  background-color: transparent;
  height: 70px;
  width: 300px;
  border-radius: 20px;
  border: 1px solid;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  align-self: center;
  cursor: pointer;
}
